footer {
    position: fixed;
    bottom: 0;

    height: 7.5vh;
    width: 100%;

    opacity: 0.95;
    z-index: 300;
    transition: all 0.35s ease-in-out;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(237,238,31,1) 0%, rgba(255,162,0,1) 100%);
    border: 1px solid black;
}

footer h1 {
    text-align: right;
    padding: 2%;
}

#profile-pic {
    height: 100%;
    padding: 0.5%;
    float: left;
}

.footer--hidden {
    bottom: -20vh;
}