#navbar {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,237,238,1) 0%, rgba(255,196,0,1) 100%);
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    margin-right: 5px;
  }
.autocomplete-items {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 105%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #e9e9e9 !important;
  }

  .orange {
      border-color: rgba(255, 136, 0, 0.849);
      color: rgba(255, 136, 0, 0.849);
      background-color: rgb(255, 254, 183);
  }

@media only screen and (min-width: 991px) {
  .nav-item {
    margin-left: 3%;
    margin-right: 3%;
    
    font-size: 14px;
    text-align: center;
    width: fit-content;
    white-space: nowrap;
  }

  .navbar-nav {
    margin-left: 2%;
  }
}

.navbar > a {
  font-size: 24px;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item:active {
  color: blue;
}

#home {
  color: black;
  text-decoration: none;
}

/*
#logout-button {

  color: #007bff;
  text-decoration: none;
  text-decoration-color: #007bff;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s;
  width: fit-content;
}
*/

.nav-bar-link {
  text-decoration: none;
  color: black;
}

#logout-button:hover {
  text-decoration: underline;
  transition: all 0.5s;
}