#profile-card {
    width: 50%;
    padding: 2%;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    font-size: 36px;
    margin: 0 auto;
}

#blur.active {
    filter: blur(30px);
    pointer-events: none;
    transition: 0.5s;
}

.childname {
    font-size: 18px;
    margin: 0 auto;
    width: 100%;
    padding: 2%;
}

#blur {
    filter: blur(0px);
    pointer-events: all;
    transition: 0.5s;
}

#add-child {
    margin: 0 auto;
    font-size: 18px;
    height: fit-content;
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
}

.image-container > img {
    margin: 0 auto;
}

.info {
    margin: auto;
    color: #4b4fe2;
}

.label {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.textbox {
    margin: auto;

    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    font-size: 16px;
    padding: 2%;
}

.textbox i {
    text-align: center;
    font-size: 100%;
}

.textbox input {
    margin-left: 2%;
    padding-left: 2%;
}

.title {
    padding-top: 2%;
    padding-bottom: 2%;
}

#display-name {
    font-size: 32px;
    text-align: center;

    transform: translateY(2%);
}

#child-form {
    display: grid;
    grid-template-columns: 100%;
}

#child-container {
    display: flex;
    flex-wrap: wrap;
}

#child-container img {
    flex: 1;
    padding: 5%;
    width: 12.5%;
}

#name {
    font-size: 36px;
    text-align: right;
    padding: 2%;
}

#child-box-title {
    padding: 2%;
    margin: 0 auto;
}

#profile-created-activities {
    display: grid;
    grid-template-columns: 50% 50%;

    font-size: 18px;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

#profile-created-activities * {
    margin: 0 auto;
}

.favorites-title {
    text-decoration: underline;
    text-align: center;
}

.favorites-body {
    height: 28vh;
    border: 1px solid black;
    overflow-y: scroll;
}

.favorites-text {
    font-size: 3vh;
    text-align: center;
}