@media (max-width: 600px) {
    #stream-container {
        display: grid;
        width: 95vw;
        grid-template-columns: 1fr;
    }
    
    #stream-container div {
        width: 100%;
    }
    
    #remote {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        background-color: rgb(217, 236, 255);
    }
    
    #remote video {
        width: 100%;
    }
    
    #local {
        background-color: rgb(228, 255, 205);
    }

    #local video {
        width: 100%;
    }
}

@media (min-width: 600px) {
    #stream-container {
        display: grid;
        width: 95vw;
        grid-template-columns: 1fr 2fr;
    }
    
    #stream-container div {
        width: 100%;
    }
    
    #remote {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        background-color: rgb(217, 236, 255);
    }
    
    #remote video {
        width: 100%;
    }
    
    #local {
        background-color: rgb(228, 255, 205);
    }
    
    #local video {
        margin-top: 25%;
    }
}

#room-info {
    position: absolute;
    top: 70px;
    text-align: left;

    padding: 2%;
}

#controls {
    position: absolute;
    top: 70px;
    right: 20px;
}

#controls > * {
    display: block;
    margin: 10px;
    width: 100px;
    background: dodgerblue;
    color: white;
    border-radius: 5px;
}


/*
.config-one div {
    width: 50%;
    transition: 0.1s;
}

.config-one div img {
    border: 1px solid green;
}

.config-two div {
    width: 100%;
    transition: 0.1s;
}

.config-two div img {
    border: 1px solid yellow;
}

.config-three div {
    width: 100%;
    transition: 0.1s;
}

.config-three div img {
    border: 1px solid red;
}

.config-three div + div {
    width: 50%;
    transition: 0.1s;
}

.config-three div + div img {
    border: 1px solid blue;
}

.config-four div {
    width: 100%;
    transition: 0.1s;
}

.config-four div + div + div {
    width: 50%;
    transition: 0.1s;
}

.config-four div + div + div img {
    border: 1px solid pink;
}
*/