/*
video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#local {
    margin: auto;
    padding: 10px 0;
}

@media (max-width: 600px) {
    
    #local {
        width: 95vw;
    }

    #remote {
        display: grid;
        grid-template-columns: 1fr;
        background-color: rgb(217, 236, 255);
    }

}
@media (min-width: 600px) {
    #stream-container {
        display: grid;
        width: 95vw;
        grid-template-columns: 1fr 2fr;
    }
    
    #stream-container div {
        width: 95%;
        margin: auto;
    }
    
    #remote {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}*/


#local {
    position: absolute;
    top: 10px;
    left: 10px;
}

#local video {
    height: 15vh;
}

#remote {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#remote #giveSpace {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#remote video {
    width: 95%;
    margin: 5%;
    border-radius: 5px;
}


#room-info {
    position: absolute;
    top: 15vh;
    text-align: left;
    padding: 2%;
}

#controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

#controls > * {
    display: block;
    margin: 10px;
    width: 100px;
    background: lime;
    color: white;
    border-radius: 5px;
}

#disconnect {
    background: red;
}




/*
.config-one div {
    width: 50%;
    transition: 0.1s;
}

.config-one div img {
    border: 1px solid green;
}

.config-two div {
    width: 100%;
    transition: 0.1s;
}

.config-two div img {
    border: 1px solid yellow;
}

.config-three div {
    width: 100%;
    transition: 0.1s;
}

.config-three div img {
    border: 1px solid red;
}

.config-three div + div {
    width: 50%;
    transition: 0.1s;
}

.config-three div + div img {
    border: 1px solid blue;
}

.config-four div {
    width: 100%;
    transition: 0.1s;
}

.config-four div + div + div {
    width: 50%;
    transition: 0.1s;
}

.config-four div + div + div img {
    border: 1px solid pink;
}
*/