.activity {
    display: grid;
    grid-template-columns: 80% 20%;

    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
}

.info {
    display: grid;
    grid-template-columns: repeat(4, 25%);

    margin: 0;
    padding-top: 2%;
}

#query-string {
    display: none;
}

#tmp {
    margin-bottom: 2%;
}