#signupForm {
    position: fixed;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    padding: 2%;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    font-size: 12px;

    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
}

#signupForm.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#signup-container {
    padding: 2%;
    text-align: left;

    border: 1px solid black;
}

#activityTitle {
    text-align: center;
    padding: 2%;
    background-color: #f9c803;

    font-size: 18px;
    margin: 2%;
}

h3 {
    font-size: 20px;
}

#signupSub {
    height: 50%;
    width: 50%;
    padding: 2%;
    background-color: #f9c803;
    font-size: 18px;
}

#contactMethod {
    font-size: 18px;

    margin: 0 auto;
}

#childrenSignup {
    font-size: 18px;

    margin: 0 auto;
}

/*Need to continue working on checkboxes, they do not look the way they should yet, also need to set up requiring at least 1 chosen in JS file */
input[type='checkbox'] {
    -webkit-appearance:none;
    width:5vw;
    height:5vw;
    background:white;
    border-radius:5px;
    border:2px solid #555;

    margin: 2%;

    transform: translateY(50%);
}

input[type='checkbox']:checked {
    background: red;
}

#register {
    text-align: right;
}

.response-container {
    margin-bottom: 8%;
}