/* Colors
Yellow: #F9C80E
Orange: #F86624
Light Blue: 06AED5
Darker Blue: 086788
White: FFFDDD
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fresca');

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Fresca";
}

.inactive {
    display: none;
}